/* Light Theme */
:root {
  --text-color: red;
}


/* Dark Theme */
.dark-mode {
  --text-color: pink;

}

$buttonBgColor:  red !important;
$textColor:  #FFFF !important;

@mixin button_Cus {
 border: unset;
    height: 35px;
    margin: 1px;
    width: 75px;
    text-align: center;
    border-radius: 40px;
}



.custom_btn{
  @include button_Cus;
    background-color: $buttonBgColor;
    color: $textColor
}


.nested_css{
  border: 1px solid red;
  margin-top: 5px;
  ul {
    margin: 5px;
    border: 1px dotted red;
    li{
      margin: 5px;
      padding: 5px;
      border: 1px dotted red;
      list-style-type: none;
    }

  }
}

